In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("ITC_Stock_Data.csv")

In [61]:
df.head()

,Date,Open,High,Low,Close,Volume
0,NaN,ITC.NS,ITC.NS,ITC.NS,ITC.NS,ITC.NS
1,2020-01-01,186.95893710821164,186.95893710821164,185.7835875755689,186.56715393066406,4208837
2,2020-01-02,186.64550857299756,188.80031610931871,186.5671591090776,187.9384002685547,8402979
3,2020-01-03,188.83950069915323,188.83950069915323,186.4888015203256,186.88058471679688,9284478
4,2020-01-06,186.0970311303952,186.72388667914208,184.13811501323315,184.2164764404297,7636617

In [4]:
df = df.drop(index=0).reset_index(drop=True)

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume
0,2020-01-01,186.95893710821164,186.95893710821164,185.7835875755689,186.56715393066406,4208837
1,2020-01-02,186.64550857299756,188.80031610931871,186.5671591090776,187.9384002685547,8402979
2,2020-01-03,188.83950069915323,188.83950069915323,186.4888015203256,186.88058471679688,9284478
3,2020-01-06,186.0970311303952,186.72388667914208,184.13811501323315,184.2164764404297,7636617
4,2020-01-07,184.96086289811265,186.41045365672494,183.82469393696377,184.41236877441406,8416741

In [35]:
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [6]:
df.describe()

,Date,Open,High,Low,Close,Volume
count,992,992,992,992,992,992
unique,992,992,990,991,929,992
top,2020-01-01,186.95893710821164,303.16256154744883,418.41707417462834,411.5838623046875,4208837
freq,1,1,2,2,3,1

In [7]:
df.dtypes

Date      object
Open      object
High      object
Low       object
Close     object
Volume    object
dtype: object

### Here we clearly see that the there was no missing values but the data types was unarranged so now arranging the data types

In [8]:
# Convert columns one by one
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")        #  Date → datetime
df["Open"] = pd.to_numeric(df["Open"], errors="coerce")         # Open → float
df["High"] = pd.to_numeric(df["High"], errors="coerce")         # High → float
df["Low"] = pd.to_numeric(df["Low"], errors="coerce")           #  Low → float
df["Close"] = pd.to_numeric(df["Close"], errors="coerce")       #  Close → float
df["Volume"] = pd.to_numeric(df["Volume"], errors="coerce")     # Volume → integer


print(df.dtypes)

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

In [73]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")


df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Weekday"] = df["Date"].dt.weekday  
df["Quarter"] = df["Date"].dt.quarter
df["DayOfYear"] = df["Date"].dt.dayofyear


df = df.sort_values("Date").reset_index(drop=True)


df = df.drop(columns=["Date"])

In [75]:
df.head()

,Open,High,Low,Close,Volume,Year,Month,Day,Weekday,Quarter,DayOfYear
0,186.958937,186.958937,185.783588,186.567154,4208837,2020,1,1,2,1,1
1,186.645509,188.800316,186.567159,187.938400,8402979,2020,1,2,3,1,2
2,188.839501,188.839501,186.488802,186.880585,9284478,2020,1,3,4,1,3
3,186.097031,186.723887,184.138115,184.216476,7636617,2020,1,6,0,1,6
4,184.960863,186.410454,183.824694,184.412369,8416741,2020,1,7,1,1,7

### Saving In other CSV file

In [12]:
df = pd.read_csv('processed_stock_data.csv')

num_cols = ['Open', 'High', 'Low', 'Close', 'Volume']

def detect_outliers_iqr(data, cols):
    outlier_indices = set()
    for col in cols:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        outliers = data[(data[col] < lower) | (data[col] > upper)].index
        outlier_indices.update(outliers)
    return list(outlier_indices)

outliers = detect_outliers_iqr(df, num_cols)
print(f"Detected {len(outliers)} potential outliers.")

Detected 68 potential outliers.

## Removing Outliers

In [13]:

df_cleaned_outliers = df.drop(outliers).reset_index(drop=True)
print(f"After outlier removal: {df_cleaned_outliers.shape[0]} rows remain.")

After outlier removal: 924 rows remain.

## Finding Duplicates

In [14]:

duplicate_mask = df_cleaned_outliers.duplicated()
duplicates = df_cleaned_outliers[duplicate_mask]
print(f"Found {duplicates.shape[0]} duplicate rows.")

Found 0 duplicate rows.

In [16]:
df.to_csv('processed_stock_data.csv', index=False)